<ion-item *ngFor="let meter of meters; trackBy: trackByMeterId" lines="full">
  <ion-avatar slot="start">
    <ion-icon [name]="'person-outline'" size="large"></ion-icon>
  </ion-avatar>

  <ion-label>
    <h2>{{ meter.fullName }}</h2>
    <p>{{ meter.meterNumber }}</p>
    <p>{{ meter.installationDate }}</p>
  </ion-label>

  <ion-badge slot="end">
    Brgy. {{ meter.serviceAddress }}, MacArthur, Leyte
  </ion-badge>

  <ion-badge [color]="isMeterActive(meter) ? 'success' : 'danger'" slot="end">
    {{ getDisplayStatus(meter.status) }}
  </ion-badge>

  <ion-button
    slot="end"
    fill="clear"
    color="medium"
    (click)="onEditMeter(meter)">
    <ion-icon name="create-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button
    slot="end"
    fill="clear"
    color="danger"
    (click)="onDeleteMeter(meter.id!)">
    <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
  </ion-button>
</ion-item>
