<ion-item *ngFor="let consumer of consumers; trackBy: trackByConsumerId" lines="full">
  <ion-avatar slot="start">
    <ion-icon [name]="'person-outline'" size="large"></ion-icon>
  </ion-avatar>

  <ion-label>
    <h2>{{ consumer.fullName }}</h2>
    <p>{{ consumer.email }}</p>
    <p>{{ consumer.phoneNumber }}</p>
  </ion-label>

  <ion-badge slot="end">
    Brgy. {{ consumer.address }}, MacArthur, Leyte
  </ion-badge>

  <ion-badge [color]="isConsumerActive(consumer) ? 'success' : 'danger'" slot="end">
    {{ getDisplayStatus(consumer.status) }}
  </ion-badge>

  <ion-button
    slot="end"
    fill="clear"
    color="medium"
    (click)="onEditConsumer(consumer)">
    <ion-icon name="create-outline" slot="icon-only"></ion-icon>
  </ion-button>

  <ion-button
    slot="end"
    fill="clear"
    color="danger"
    (click)="onDeleteConsumer(consumer.id!)">
    <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
  </ion-button>
</ion-item>
